<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Zomato Clone for learning purposes">
    <meta name="keywords" content="Zomato,Clone,food,restaurant">
    <meta name="author" content="Tanmay Rajani">
    <link rel="shortcut icon" type="image/png" href="//ndl.mgccw.com/mu3/app/20150323/07/1427074434756/icon/icon_xl.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <title>ZZZomato</title>
</head>
<body class="noselect">
    <div class="container-fluid wrapper">
        <div class="image">
            <img src="media/zomato.png" alt="Zomato" class="img-responsive zomato-img" draggable="false">
            <span class="tagline">Discover. Eat. Repeat.</span>
        </div>

        <section class="signing">
            <div class="row">
                <button class="btn btn-primary btn-lg sign-btn with-email">Sign up with Email</button>
            </div>
            <div class="row">
                <button class="btn btn-danger btn-lg sign-btn">Sign up with Google</button>
            </div>
            <div class="row">
                <button class="btn btn-link btn-lg sign-btn already">Already have an account? Sign in</button>
            </div>
        </section>
        <section class="formstuff">
            <form action="/auth/email" role="form">
                <div class="form-group"><input type="text" required placeholder="Name" class="form-control" name="name"></div>
                <div class="form-group"><input type="email" required placeholder="Email Address" class="form-control" name="email"></div>
                <div class="form-group"><input type="password" required placeholder="Password" class="form-control" name="password"></div>
                <div class="form-group"><input type="password" required placeholder="Confirm Password" class="form-control" name="password-confirm"></div>
                <div class="form-group">
                    <select name="city" id="" class="form-control">
                        <option value="City" disabled selected>City</option>
                        <option value="ahmedabad">Ahmedabad</option>
                        <option value="xyz">To be filled</option>
                    </select>
                </div>
                <button type="submit" value="submit" name="submit" class="btn btn-primary btn-lg">Register me</button>
                <button class="btn btn-warning btn-lg cancel">Cancel</button>
            </form>
        </section>
        <section class="alreadyform">
            <form action="/auth/email2" role="form">
                <div class="form-group"><input type="email" required placeholder="Email Address" class="form-control" name="email"></div>
                <div class="form-group"><input type="password" required placeholder="Password" class="form-control" name="password"></div>
                <button type="submit" value="submit" name="submit" class="btn btn-primary btn-lg">Sign in</button>
                <button class="btn btn-warning btn-lg cancel-already">Cancel</button>
            </form>
        </section>
        <div class="push"></div>
    </div>
    <footer>
        <div class="row footer">
            <span>Developed by Tanmay, Harshit and Mansi (For learning purposes only)</span>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myapp.js"></script>
</body>
</html>