<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Zomato Clone for learning purposes">
    <meta name="keywords" content="Zomato,Clone,food,restaurant">
    <meta name="author" content="Tanmay Rajani">
    <link rel="shortcut icon" type="image/png" href="//ndl.mgccw.com/mu3/app/20150323/07/1427074434756/icon/icon_xl.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <title>ZZZomato</title>
</head>
<body>
    <div class="container-fluid">
        <div class="image">
            <img src="media/zomato.png" alt="Zomato" class="img-responsive zomato-img" draggable="false">
            <span class="tagline">Discover. Eat. Repeat.</span>
        </div>

        <section class="signing">
            <div class="row">
                <button class="btn btn-primary btn-lg sign-btn">Sign up with Email</button>
            </div>
            <div class="row">
                <button class="btn btn-danger btn-lg sign-btn">Sign up with Google</button>
            </div>
            <div class="row">
                <button class="btn btn-link btn-lg sign-btn">Already have an account? Sign in</button>
            </div>

        </section>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>